#!/usr/bin/make -f

# Makefile only uses -Wno-maybe-uninitialized (needed on Ubuntu ppc64el) if CC=gcc
export CC = gcc

include /usr/share/postgresql-common/pgxs_debian_control.mk

override_dh_auto_build:
	test "$$(sha256sum pg_curl--2.4.sql | awk '{print $$1}')" = "f0b509eb06efb4712611c8b13132b576ba194c41a8e94420949b1e68c57bcbe7"
	test "$$(sha256sum pg_curl--2.4.1.sql | awk '{print $$1}')" = "c1493fb4373e5f19790407188f82990c25c5148f9fd32bf5c10780e84778def5"
	test "$$(sha256sum pg_curl--2.4--2.4.1.sql | awk '{print $$1}')" = "30b49e825aee87090eeb6fe99578daa5d94f8385a642f7cf54017a3dff541f35"
	grep -q "^default_version = '2.4.1'$$" pg_curl.control

override_dh_auto_test:

override_dh_auto_clean:

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_install:
	+pg_buildext loop postgresql-%v-pg-curl

override_dh_installdocs:
	dh_installdocs --all README.* SOURCE-MANIFEST.pgsty

%:
	dh $@
