#!/usr/bin/make -f

PKG_NAME := pg-isok
PG_VERSIONS := $(shell tr '\n' ' ' < debian/pgversions)
SQL_FILES := $(sort $(wildcard sql/pg_isok--*.sql))

%:
	dh $@

override_dh_auto_build:
	:

override_dh_auto_clean:
	:

override_dh_auto_test:

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_install:
	set -e; \
	for PG_VERSION in $(PG_VERSIONS); do \
	    FULL_NAME=postgresql-$$PG_VERSION-$(PKG_NAME); \
	    EXT_DIR=$(CURDIR)/debian/$$FULL_NAME/usr/share/postgresql/$$PG_VERSION/extension; \
	    dh_installdirs -p$$FULL_NAME; \
	    mkdir -p $$EXT_DIR; \
	    install -m 0644 pg_isok.control $$EXT_DIR/pg_isok.control; \
	    for file in $(SQL_FILES); do \
	        install -m 0644 $$file $$EXT_DIR/$$(basename $$file); \
	    done; \
	done

override_dh_installdocs:
	dh_installdocs --all doc/index.html doc/pg_isok.txt NEWS
