#!/usr/bin/make -f

SRC_DIR := fsm_core
PKG_NAME := fsm-core
PG_VERSIONS := $(shell tr '\n' ' ' < debian/pgversions)

%:
	dh $@

override_dh_auto_test:

override_dh_auto_build:
	# SQL-only extension.

override_dh_auto_clean:
	# Nothing to clean.

override_dh_auto_install:
	for PG_VERSION in $(PG_VERSIONS); do \
	    FULL_NAME=postgresql-$$PG_VERSION-$(PKG_NAME); \
	    EXT_DIR=$(CURDIR)/debian/$$FULL_NAME/usr/share/postgresql/$$PG_VERSION/extension; \
	    dh_installdirs -p$$FULL_NAME; \
	    mkdir -p $$EXT_DIR; \
	    cp $(SRC_DIR).control $$EXT_DIR/; \
	    cp $(SRC_DIR)--*.sql $$EXT_DIR/; \
	done

override_dh_installdocs:
	dh_installdocs --all README.md
