#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

SRC_DIR := tzf
PKG_NAME := tzf
PG_VERSIONS := $(shell tr '\n' ' ' < debian/pgversions)

%:
	dh $@

override_dh_auto_build:
	# Disable the build step since binaries are pre-built

override_dh_auto_clean:
	# Disable the clean step to avoid cleaning up pre-built binaries

override_dh_auto_test:
	# Disable the test step since we don't have tests

override_dh_installdocs:
	dh_installdocs --all README.md LICENSE_DATA

override_dh_auto_install:
	set -eu; for PG_VERSION in $(PG_VERSIONS); do \
	    DIR_NAME=$(SRC_DIR)-pg$$PG_VERSION; \
	    FULL_NAME=postgresql-$$PG_VERSION-$(PKG_NAME); \
	    SRC_ROOT=target/release/$$DIR_NAME/usr; \
	    test -f $$SRC_ROOT/lib/postgresql/$$PG_VERSION/lib/$(SRC_DIR).so; \
	    test -f $$SRC_ROOT/share/postgresql/$$PG_VERSION/extension/$(SRC_DIR).control; \
	    test -f $$SRC_ROOT/share/postgresql/$$PG_VERSION/extension/$(SRC_DIR)--0.3.1.sql; \
	    test -f $$SRC_ROOT/share/postgresql/$$PG_VERSION/extension/$(SRC_DIR)--0.3.0--0.3.1.sql; \
	    test "$$(find $$SRC_ROOT/share/postgresql/$$PG_VERSION/extension -maxdepth 1 -type f -name '$(SRC_DIR)*.sql' | wc -l)" -eq 2; \
	    dh_installdirs -p$$FULL_NAME; \
	    mkdir -p $(CURDIR)/debian/$$FULL_NAME/usr/lib/postgresql/$$PG_VERSION/lib; \
	    mkdir -p $(CURDIR)/debian/$$FULL_NAME/usr/share/postgresql/$$PG_VERSION/extension; \
	    cp $$SRC_ROOT/lib/postgresql/$$PG_VERSION/lib/$(SRC_DIR).so $(CURDIR)/debian/$$FULL_NAME/usr/lib/postgresql/$$PG_VERSION/lib/; \
	    cp $$SRC_ROOT/share/postgresql/$$PG_VERSION/extension/$(SRC_DIR).control $(CURDIR)/debian/$$FULL_NAME/usr/share/postgresql/$$PG_VERSION/extension/; \
	    cp $$SRC_ROOT/share/postgresql/$$PG_VERSION/extension/$(SRC_DIR)*.sql $(CURDIR)/debian/$$FULL_NAME/usr/share/postgresql/$$PG_VERSION/extension/; \
	done
