#!/usr/bin/make -f

# Makefile only uses -Wno-maybe-uninitialized (needed on Ubuntu ppc64el) if CC=gcc
export CC = gcc

# Set parallel build jobs to 20
export MAKEFLAGS = -j20

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_build:

override_dh_auto_test:

override_dh_installdocs:
	dh_installdocs --all README.*

%:
	dh $@