Source: pgcopydb
Section: database
Priority: optional
Maintainer: Ruohang Feng <rh@vonng.com>
Uploaders:
 Dimitri Fontaine <dim@tapoueh.org>,
 Christoph Berg <myon@debian.org>,
Build-Depends:
 debhelper-compat (= 13),
 libedit-dev,
 libgc-dev,
 libkrb5-dev,
 liblz4-dev,
 libncurses-dev,
 libnuma-dev,
 libpam0g-dev,
 libreadline-dev,
 libselinux1-dev,
 libssl-dev,
 libxslt1-dev,
 libzstd-dev,
 postgresql,
 postgresql-server-dev-all (>= 158~),
 python3-sphinx,
 zlib1g-dev,
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://github.com/dimitri/pgcopydb
Vcs-Browser: https://github.com/dimitri/pgcopydb
Vcs-Git: https://github.com/dimitri/pgcopydb.git

Package: pgcopydb
Architecture: any
Provides: pgcopydb
Depends:
 postgresql-client,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Copy an entire PostgreSQL database from source to target
 This tool copies an entire PostgreSQL database from source to target. It
 implements pg_dump and pg_restore with advanced concurrency to make the
 operation faster.
