#!/usr/bin/make -f

include /usr/share/postgresql-common/pgxs_debian_control.mk

# Makefile only uses -Wno-maybe-uninitialized (needed on Ubuntu ppc64el) if CC=gcc
export CC = gcc
export PATH     := /usr/oriole-17/bin:$(PATH)
export PG_CONFIG = /usr/oriole-17/bin/pg_config
export ORIOLEDB_PATCHSET_VERSION=9
export USE_PGXS=1

override_dh_shlibdeps:
	dh_shlibdeps -l/usr/oriole-17/lib

override_dh_auto_configure:

#override_dh_auto_build:
	# Disable the build step since binaries are pre-built

#override_dh_auto_clean:

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_test:

#override_dh_auto_install:

override_dh_installdocs:
	dh_installdocs --all README.*

%:
	dh $@