#!/usr/bin/make -f

export PATH := /usr/pgedge-18/bin:$(PATH)
export PG_CONFIG := /usr/pgedge-18/bin/pg_config
export USE_PGXS=1

%:
	dh $@

override_dh_auto_test:
	:

override_dh_shlibdeps:
	dh_shlibdeps -l/usr/pgedge-18/lib

override_dh_strip:
	dh_strip --no-automatic-dbgsym
