#!/usr/bin/make -f

PKG_NAME := pghydro
PG_VERSIONS := $(shell tr '\n' ' ' < debian/pgversions)
CONTROL_FILES := pghydro.control pgh_raster.control pgh_hgm.control pgh_output.control pgh_output_en_au.control pgh_output_pt_br.control pgh_consistency.control
SQL_FILES := pghydro--6.6.sql pgh_raster--6.6.sql pgh_hgm--2.2.6.sql pgh_output--6.6.sql pgh_output_pt_br--6.6.sql pgh_consistency--6.6.sql
EN_AU_SQL := pgh_output_en-au--6.6.sql

%:
	dh $@

override_dh_auto_build:
	:

override_dh_auto_clean:
	:

override_dh_auto_test:

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_install:
	set -e; \
	for PG_VERSION in $(PG_VERSIONS); do \
	    FULL_NAME=postgresql-$$PG_VERSION-$(PKG_NAME); \
	    EXT_DIR=$(CURDIR)/debian/$$FULL_NAME/usr/share/postgresql/$$PG_VERSION/extension; \
	    dh_installdirs -p$$FULL_NAME; \
	    mkdir -p $$EXT_DIR; \
	    for file in $(CONTROL_FILES); do \
	        install -m 0644 $$file $$EXT_DIR/$$(basename $$file); \
	    done; \
	    for file in $(SQL_FILES); do \
	        install -m 0644 $$file $$EXT_DIR/$$(basename $$file); \
	    done; \
	    tail -c +4 $(EN_AU_SQL) > $$EXT_DIR/pgh_output_en_au--6.6.sql; \
	    chmod 0644 $$EXT_DIR/pgh_output_en_au--6.6.sql; \
	done

override_dh_installdocs:
	dh_installdocs --all README.md Description.pdf pghydro--6.6_README.txt pghydro--6.6_tutorial.sql pgh_hgm--2.2.6-tutorial.sql LICENSE
