#!/usr/bin/make -f

include /usr/share/postgresql-common/pgxs_debian_control.mk

PG_VERSIONS := $(shell tr '\n' ' ' < debian/pgversions)
EXTENSIONS := hunspell_cs_cz hunspell_de_de hunspell_en_us hunspell_fr \
	hunspell_ne_np hunspell_nl_nl hunspell_nn_no hunspell_pt_pt \
	hunspell_ru_ru hunspell_ru_ru_aot

override_dh_auto_build:

override_dh_auto_test:

override_dh_auto_clean:
	# Nothing to clean: all extensions contain SQL and dictionary data only.

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_install:
	set -e; for PG_VERSION in $(PG_VERSIONS); do \
		PKG=postgresql-$$PG_VERSION-hunspell; \
		for EXTENSION in $(EXTENSIONS); do \
			$(MAKE) -C $$EXTENSION USE_PGXS=1 \
				PG_CONFIG=/usr/lib/postgresql/$$PG_VERSION/bin/pg_config \
				install DESTDIR=$(CURDIR)/debian/$$PKG; \
		done; \
	done

%:
	dh $@
