#!/usr/bin/make -f

# Makefile only uses -Wno-maybe-uninitialized (needed on Ubuntu ppc64el) if CC=gcc
export CC = gcc

include /usr/share/postgresql-common/pgxs_debian_control.mk

override_dh_auto_build:
	set -e; for v in $$(pg_buildext supported-versions); do \
		echo "Building redis_fdw for PostgreSQL $$v"; \
		git checkout REL_$${v}_STABLE; \
		$(MAKE) clean || true; \
		$(MAKE) PG_CONFIG=/usr/lib/postgresql/$$v/bin/pg_config; \
	done

override_dh_auto_test:

override_dh_auto_clean:
	set -e; for v in $$(pg_buildext supported-versions); do \
		git checkout REL_$${v}_STABLE || true; \
		$(MAKE) PG_CONFIG=/usr/lib/postgresql/$$v/bin/pg_config clean || true; \
	done

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_install:
	set -e; for v in $$(pg_buildext supported-versions); do \
		echo "Installing redis_fdw for PostgreSQL $$v"; \
		git checkout REL_$${v}_STABLE; \
		$(MAKE) PG_CONFIG=/usr/lib/postgresql/$$v/bin/pg_config DESTDIR=$(CURDIR)/debian/postgresql-$$v-redis-fdw install; \
	done

override_dh_installdocs:
	dh_installdocs --all README.*

%:
	dh $@
