Source: valkey
Section: database
Priority: optional
Maintainer: Ruohang Feng <rh@vonng.com>
Build-Depends:
 debhelper-compat (= 13),
 libssl-dev,
 libsystemd-dev,
 openssl <!nocheck>,
 pkgconf,
 procps <!nocheck>,
 tcl <!nocheck>,
 tcl-tls <!nocheck>
Standards-Version: 4.7.2
Homepage: https://valkey.io
Rules-Requires-Root: no

Package: valkey
Architecture: any
Depends:
 adduser,
 ${misc:Depends},
 ${shlibs:Depends}
Suggests:
 ruby-redis
Provides:
 valkey-server (= ${binary:Version}),
 valkey-sentinel (= ${binary:Version}),
 valkey-tools (= ${binary:Version})
Replaces:
 valkey-server,
 valkey-sentinel,
 valkey-tools
Conflicts:
 valkey-server,
 valkey-sentinel,
 valkey-tools
Description: Persistent key-value database with server and tools
 Valkey is an in-memory data structure server supporting strings, hashes,
 lists, sets, streams, transactions, Pub/Sub, Lua scripting, replication,
 Sentinel, persistence, and clustering.
 .
 This package contains the Valkey server, Sentinel, command-line client,
 benchmark, data-file checking tools, configuration, and systemd units.

Package: valkey-dev
Architecture: all
Depends:
 ${misc:Depends}
Description: Development header for Valkey module development
 This package contains the header required for building loadable Valkey
 modules.
