Source: pgedge-@PG_MAJOR@
Section: database
Priority: optional
Maintainer: Ruohang Feng <rh@vonng.com>
Build-Depends:
 autoconf,
 bison,
 clang,
 debhelper-compat (= 13),
 dh-exec (>= 0.13~),
 docbook-xml,
 docbook-xsl (>= 1.77),
 dpkg-dev (>= 1.16~),
 flex,
 gettext,
 libjansson-dev,
 libicu-dev,
 libkrb5-dev,
 libldap2-dev,
 liblz4-dev,
 libpam0g-dev,
 libperl-dev,
 libreadline-dev,
 libselinux1-dev [linux-any],
 libssl-dev,
 libsystemd-dev [linux-any],
 libxml2-dev,
 libxml2-utils,
 libxslt1-dev,
 libzstd-dev,
 llvm,
 llvm-dev,
 mawk,
 patch,
 patchelf,
 perl (>= 5.8),
 pkgconf,
 python3-dev,
 systemtap-sdt-dev,
 tcl-dev,
 tzdata,
 uuid-dev,
 xsltproc,
 zlib1g-dev
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://github.com/pgEdge

Package: pgedge-@PG_MAJOR@
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, tzdata, ssl-cert
Description: pgEdge PostgreSQL @PG_MAJOR@ with bundled replication extensions
 PostgreSQL @PG_MAJOR@ core package built from upstream PostgreSQL source plus
 pgEdge Spock PG@PG_MAJOR@ patchset.
 .
 This package installs PostgreSQL binaries, libraries, headers, Spock, Snowflake
 and LOLOR into /usr/pgedge-@PG_MAJOR@.
