#!/usr/bin/make -f

export DH_VERBOSE=1
export DEB_HOST_MULTIARCH := $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
SPOCK_VERSION ?= 5.0.6

# Filter out -ffast-math to avoid precision regressions.
export CFLAGS=$(shell dpkg-buildflags --get CFLAGS | sed 's/-ffast-math//g')
export LDFLAGS=$(shell dpkg-buildflags --get LDFLAGS) -Wl,--as-needed

%:
	dh $@ --without autoreconf

override_dh_auto_clean:

override_dh_auto_configure:
	./configure \
		--prefix=/usr/pgedge-18 \
		--bindir=/usr/pgedge-18/bin \
		--libdir=/usr/pgedge-18/lib \
		--includedir=/usr/pgedge-18/include \
		--mandir=/usr/pgedge-18/share/man \
		--datadir=/usr/pgedge-18/share \
		--docdir=/usr/share/doc/pgedge-18 \
		--htmldir=/usr/share/doc/pgedge-18/html \
		--with-system-tzdata=/usr/share/zoneinfo \
		--with-lz4 --with-zstd \
		--with-uuid=e2fs --with-libxml --with-libxslt \
		--with-icu \
		--with-gssapi \
		--with-openssl --with-pam --with-ldap \
		--with-perl --with-python --with-tcl \
		--with-selinux --with-systemd \
		--enable-nls \
		--enable-dtrace \
		--with-extra-version=" (pgEdge $(SPOCK_VERSION))"

override_dh_auto_build:
	cd src/backend && MAKELEVEL=0 $(MAKE) submake-generated-headers
	cd ../..
	MAKELEVEL=0 $(MAKE) -j$(shell nproc) world

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/tmp install-world

override_dh_shlibdeps:
	dh_shlibdeps -l/usr/pgedge-18/lib

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_test:
	:

override_dh_installinit:
	:

override_dh_installsystemd:
	:
