#!/usr/bin/make -f

export CC = gcc
export with_llvm = no
PG_VERSIONS := $(shell cat debian/pgversions)

include /usr/share/postgresql-common/pgxs_debian_control.mk

override_dh_auto_configure:
	:

override_dh_auto_build:

override_dh_auto_test:

override_dh_auto_clean:
	$(MAKE) clean || true

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_install:
	set -e; \
	for v in $(PG_VERSIONS); do \
		pkg=postgresql-$$v-storage-engine; \
		$(MAKE) clean PG_CONFIG=/usr/lib/postgresql/$$v/bin/pg_config with_llvm=no || true; \
		$(MAKE) PG_CONFIG=/usr/lib/postgresql/$$v/bin/pg_config with_llvm=no; \
		$(MAKE) install PG_CONFIG=/usr/lib/postgresql/$$v/bin/pg_config with_llvm=no DESTDIR=$(CURDIR)/debian/$$pkg; \
		printf 'postgresql:Depends=postgresql-%s\n' "$$v" >> debian/$$pkg.substvars; \
		printf 'postgresql:Breaks=\n' >> debian/$$pkg.substvars; \
	done
	find debian -path '*/usr/include/postgresql/*/server/citus_version.h' -delete
	find debian -type d -path '*/usr/include/postgresql/*/server' -empty -delete
	find debian -type d -path '*/usr/include/postgresql/*' -empty -delete
	find debian -type d -path '*/usr/include/postgresql' -empty -delete

override_dh_installdocs:
	dh_installdocs --all README.md CHANGELOG.md BENCHMARKS.md NOTICE

%:
	dh $@
