#!/usr/bin/make -f

SRC_DIR := omnigres
PKG_NAME := omnigres
PG_VERSIONS := $(shell tr '\n' ' ' < debian/pgversions)

# Makefile only uses -Wno-maybe-uninitialized (needed on Ubuntu ppc64el) if CC=gcc
export CC = gcc

override_dh_auto_build:
	# Disable the build step since binaries are pre-built

override_dh_auto_clean:
	# Disable the clean step to avoid cleaning up pre-built binaries

override_dh_auto_configure:
	# Disable the clean step to avoid cleaning up pre-built binaries

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_dwz:
	# External Clang may emit DWARF newer than the distribution dwz supports.

override_dh_auto_install:
	set -eu; for PG_VERSION in $(PG_VERSIONS); do \
	    FULL_NAME=postgresql-$$PG_VERSION-$(PKG_NAME); \
	    test -d pg$$PG_VERSION/packaged/extension; \
	    set -- pg$$PG_VERSION/packaged/*.so; test -e "$$1"; \
	    dh_installdirs -p$$FULL_NAME; \
	    mkdir -p $(CURDIR)/debian/$$FULL_NAME/usr/lib/postgresql/$$PG_VERSION/lib; \
	    mkdir -p $(CURDIR)/debian/$$FULL_NAME/usr/share/postgresql/$$PG_VERSION/extension; \
	    cp pg$$PG_VERSION/packaged/*.so $(CURDIR)/debian/$$FULL_NAME/usr/lib/postgresql/$$PG_VERSION/lib/; \
	    cp pg$$PG_VERSION/packaged/extension/* $(CURDIR)/debian/$$FULL_NAME/usr/share/postgresql/$$PG_VERSION/extension/; \
	done

override_dh_installdocs:
	dh_installdocs --all README.*

%:
	dh $@
