#!/usr/bin/make -f

ARCH := $(shell uname -m)

override_dh_auto_build:

override_dh_auto_test:

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_install:

	mkdir -p $(CURDIR)/debian/libduckdb/usr/lib/$(ARCH)-linux-gnu; \
	cp $(CURDIR)/libduckdb.so $(CURDIR)/debian/libduckdb/usr/lib/$(ARCH)-linux-gnu/;

%:
	dh $@