#!/usr/bin/make -f

SRC_DIR := pgdd
PKG_NAME := pgdd

override_dh_auto_build:

override_dh_auto_test:

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/libduckdb/usr/lib/x86_64-linux-gnu; \
	cp $(CURDIR)/libduckdb.so $(CURDIR)/debian/libduckdb/usr/lib/x86_64-linux-gnu/;

%:
	dh $@