#!/usr/bin/make -f

export CC = gcc
export LLVM_BINPATH ?= $(shell p="$$(command -v llvm-config-20 || command -v llvm-config-19 || command -v llvm-config 2>/dev/null)"; test -n "$$p" && "$$p" --bindir)

include /usr/share/postgresql-common/pgxs_debian_control.mk

override_dh_auto_build:

override_dh_auto_test:

override_dh_auto_clean:

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_install:
	+pg_buildext loop postgresql-%v-pgvector

override_dh_installdocs:
	dh_installdocs --all README*

%:
	dh $@
