#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --disable-static --disable-reference

override_dh_makeshlibs:
	dh_makeshlibs -- -v1.2.1
