#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

SRC_NAME := pg_graphql
PKG_NAME := pg-graphql

%:
	dh $@

override_dh_auto_build:
	# Disable the build step since binaries are pre-built

override_dh_auto_clean:
	# Disable the clean step to avoid cleaning up pre-built binaries

override_dh_auto_install:
	for PG_VERSION in 14 15 16; do \
	    DIR_NAME=$(SRC_NAME)-pg$$PG_VERSION; \
	    FULL_NAME=postgresql-$$PG_VERSION-$(PKG_NAME); \
	    dh_installdirs -p$$FULL_NAME; \
	    mkdir -p $(CURDIR)/debian/$$FULL_NAME/usr/lib/postgresql/$$PG_VERSION/lib; \
	    mkdir -p $(CURDIR)/debian/$$FULL_NAME/usr/share/postgresql/$$PG_VERSION/extension; \
	    cp ~/$(SRC_NAME)/target/release/$$DIR_NAME/usr/lib/postgresql/$$PG_VERSION/lib/*.so $(CURDIR)/debian/$$FULL_NAME/usr/lib/postgresql/$$PG_VERSION/lib/; \
	    cp ~/$(SRC_NAME)/target/release/$$DIR_NAME/usr/share/postgresql/$$PG_VERSION/extension/* $(CURDIR)/debian/$$FULL_NAME/usr/share/postgresql/$$PG_VERSION/extension/; \
	done