#!/usr/bin/make -f

DEB_HOST_MULTIARCH := $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

override_dh_auto_build:

override_dh_auto_test:

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_install:

	mkdir -p $(CURDIR)/debian/libduckdb/usr/lib/$(DEB_HOST_MULTIARCH); \
	cp $(CURDIR)/libduckdb.so $(CURDIR)/debian/libduckdb/usr/lib/$(DEB_HOST_MULTIARCH)/;

%:
	dh $@
