[Unit]
Description=Redis Sentinel
Documentation=https://redis.io/docs/latest/operate/oss_and_stack/management/sentinel/
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=notify
TimeoutStartSec=infinity
TimeoutStopSec=infinity
User=redis
Group=redis
WorkingDirectory=/var/lib/redis
ExecStart=/usr/bin/redis-sentinel /etc/redis/sentinel.conf --daemonize no --supervised systemd
RuntimeDirectory=redis
RuntimeDirectoryMode=0755
UMask=007
PrivateTmp=true
NoNewPrivileges=true
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
