#!/usr/bin/make -f

export CC = gcc
export CXX = g++

include /usr/share/postgresql-common/pgxs_debian_control.mk

override_dh_auto_build:
	# Skip git submodule command since vendor/clickhouse-cpp is already included in tarball
	sed -i 's/git submodule update --init/@echo "Skipping submodule (included in tarball)"/' Makefile

override_dh_auto_test:

override_dh_auto_clean:

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_install:
	+pg_buildext loop postgresql-%v-pg-clickhouse

override_dh_installdocs:
	dh_installdocs --all README.*

%:
	dh $@
