#!/usr/bin/make -f

export CC = gcc

include /usr/share/postgresql-common/pgxs_debian_control.mk

override_dh_auto_build:

override_dh_auto_test:

override_dh_auto_clean:

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_install:
	+pg_buildext loop postgresql-%v-pg-mockable
	rm -rf debian/postgresql-*-pg-mockable/usr/share/doc/postgresql-doc-*/
	rm -f debian/postgresql-*-pg-mockable/usr/share/postgresql/*/extension/pg_mockable_dependent_test_extension*

override_dh_installdocs:
	dh_installdocs --all README.md LICENCE.txt

%:
	dh $@
