#!/usr/bin/make -f

include /usr/share/postgresql-common/pgxs_debian_control.mk

PG_MAJOR ?= 17
ORIOLEPG_PREFIX ?= /usr/oriole-$(PG_MAJOR)
ORIOLEDB_PATCHSET_VERSION ?= 20

# Makefile only uses -Wno-maybe-uninitialized (needed on Ubuntu ppc64el) if CC=gcc
export CC = gcc
export PATH := $(ORIOLEPG_PREFIX)/bin:$(PATH)
export PG_CONFIG = $(ORIOLEPG_PREFIX)/bin/pg_config
export ORIOLEDB_PATCHSET_VERSION
export USE_PGXS=1

override_dh_shlibdeps:
	dh_shlibdeps -l$(ORIOLEPG_PREFIX)/lib

override_dh_auto_configure:

override_dh_auto_build:
	dh_auto_build -- ORIOLEDB_PATCHSET_VERSION=$(ORIOLEDB_PATCHSET_VERSION)

#override_dh_auto_clean:

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_test:

#override_dh_auto_install:

override_dh_installdocs:
	dh_installdocs --all README.*

%:
	dh $@
