#!/usr/bin/make -f

SRC_DIR := pg_kazsearch
PKG_NAME := pg-kazsearch
PG_VERSIONS := $(shell tr '\n' ' ' < debian/pgversions)

%:
	dh $@

override_dh_auto_test:

override_dh_auto_build:
	# Built by the outer Makefile via cargo pgrx package.

override_dh_auto_clean:
	# Keep pre-built artifacts for packaging.

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_install:
	for PG_VERSION in $(PG_VERSIONS); do \
	    DIR_NAME=$(SRC_DIR)-pg$$PG_VERSION; \
	    FULL_NAME=postgresql-$$PG_VERSION-$(PKG_NAME); \
	    dh_installdirs -p$$FULL_NAME; \
	    mkdir -p $(CURDIR)/debian/$$FULL_NAME/usr/lib/postgresql/$$PG_VERSION/lib; \
	    mkdir -p $(CURDIR)/debian/$$FULL_NAME/usr/share/postgresql/$$PG_VERSION/extension; \
	    mkdir -p $(CURDIR)/debian/$$FULL_NAME/usr/share/postgresql/$$PG_VERSION/tsearch_data; \
	    cp target/release/$$DIR_NAME/usr/lib/postgresql/$$PG_VERSION/lib/*.so $(CURDIR)/debian/$$FULL_NAME/usr/lib/postgresql/$$PG_VERSION/lib/; \
	    cp target/release/$$DIR_NAME/usr/share/postgresql/$$PG_VERSION/extension/* $(CURDIR)/debian/$$FULL_NAME/usr/share/postgresql/$$PG_VERSION/extension/; \
	    cp data/tsearch_data/kaz_* $(CURDIR)/debian/$$FULL_NAME/usr/share/postgresql/$$PG_VERSION/tsearch_data/; \
	done
