#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

export CC = gcc
export ENABLE_KAFKA = 1
export ENABLE_MQTT = 1
export ENABLE_AMQP = 1

# Debian 12 and Ubuntu 22 ship libhiredis-dev without hiredis_ssl.h, so only
# enable the Redis dispatcher where the distro actually provides the TLS header.
HIREDIS_SSL_HEADER := $(firstword $(wildcard /usr/include/hiredis/hiredis_ssl.h /usr/include/$(DEB_HOST_MULTIARCH)/hiredis/hiredis_ssl.h))
ifneq ($(HIREDIS_SSL_HEADER),)
export ENABLE_REDIS = 1
endif

include /usr/share/postgresql-common/pgxs_debian_control.mk

override_dh_auto_build:

override_dh_auto_test:

override_dh_auto_clean:

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_install:
	+pg_buildext loop postgresql-%v-ulak
	rm -rf debian/postgresql-*-ulak/usr/share/doc/postgresql-doc-*/

override_dh_installdocs:
	dh_installdocs --all README.*

%:
	dh $@
