Source: cloudberry
Section: database
Priority: optional
Maintainer: Ruohang Feng <rh@vonng.com>
Build-Depends:
 debhelper-compat (= 13),
 bison,
 bzip2,
 cmake,
 curl,
 flex,
 g++,
 gcc,
 golang-go,
 libapr1-dev,
 libbz2-dev,
 libcurl4-gnutls-dev | libcurl4-openssl-dev,
 libevent-dev,
 libicu-dev,
 libipc-run-perl,
 libkrb5-dev,
 libldap2-dev,
 liblz4-dev,
 libpam0g-dev,
 libperl-dev,
 libprotobuf-dev,
 libreadline-dev,
 libssl-dev,
 liburing-dev,
 libuv1-dev,
 libxerces-c-dev,
 libxml2-dev,
 libyaml-dev,
 libzstd-dev,
 locales,
 make,
 pkg-config,
 protobuf-compiler,
 python3-dev,
 python3-pip,
 python3-setuptools,
 quilt,
 rsync,
 unzip,
 zlib1g-dev
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://cloudberry.apache.org

Package: cloudberry
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, iproute2, iputils-ping, openssh-client, openssh-server, perl, python3, rsync, ssl-cert, tzdata
Description: Apache Cloudberry MPP data warehouse
 Apache Cloudberry is an open-source massively parallel processing (MPP)
 data warehouse developed from PostgreSQL and Greenplum.
 .
 This package installs Cloudberry into /usr/cloudberry.
