Source: polardb-17
Section: database
Priority: optional
Maintainer: Pigsty <team@pigsty.io>
Build-Depends:
 build-essential,
 bison,
 flex,
 uuid-dev,
 libreadline-dev,
 zlib1g-dev,
 libssl-dev,
 libxml2-dev,
 libxslt1-dev,
 libicu-dev,
 libpam0g-dev,
 libkrb5-dev,
 libldap2-dev,
 libperl-dev,
 python3-dev,
 tcl-dev,
 liblz4-dev,
 libzstd-dev,
 libunwind-dev,
 gettext,
 pkg-config,
 clang,
 llvm-dev,
 file,
 binutils
Standards-Version: 4.7.0
Homepage: https://github.com/polardb/PolarDB-for-PostgreSQL

Package: polardb-17
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PolarDB PostgreSQL 17 kernel
 PolarDB for PostgreSQL 17 kernel package built under /usr/polar-17.
