#!/usr/bin/make -f

# Makefile only uses -Wno-maybe-uninitialized (needed on Ubuntu ppc64el) if CC=gcc
export CC = gcc

# Set parallel build jobs to 20
export MAKEFLAGS = -j20

include /usr/share/postgresql-common/pgxs_debian_control.mk

override_dh_dwz:
	echo "Skipping DWZ optimization"

override_dh_auto_build:
	@echo $(PATH)
	make release

override_dh_auto_test:

override_dh_auto_clean:
	# Disable the clean step to avoid cleaning up pre-built binaries

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_install:
	BUILD_TYPE=release
	+pg_buildext loop postgresql-%v-pg-mooncake

override_dh_installdocs:
	dh_installdocs --all README.*

%:
	dh $@