#!/usr/bin/make -f

# Makefile only uses -Wno-maybe-uninitialized (needed on Ubuntu ppc64el) if CC=gcc
export CC = gcc

SRC_DIR := supautils
PKG_NAME := supautils
PG_VERSIONS := $(shell cat debian/pgversions)

include /usr/share/postgresql-common/pgxs_debian_control.mk

override_dh_auto_build:

override_dh_auto_test:

override_dh_auto_clean:

override_dh_auto_install:
	set -e; for PG_VERSION in $(PG_VERSIONS); do \
		FULL_NAME=postgresql-$$PG_VERSION-$(PKG_NAME); \
		PG_CONFIG=/usr/lib/postgresql/$$PG_VERSION/bin/pg_config; \
		$(MAKE) PG_CONFIG=$$PG_CONFIG clean; \
		$(MAKE) PG_CONFIG=$$PG_CONFIG; \
		test -s supautils.so; \
		dh_installdirs -p$$FULL_NAME; \
		$(MAKE) PG_CONFIG=$$PG_CONFIG DESTDIR=$(CURDIR)/debian/$$FULL_NAME install; \
		test -s $(CURDIR)/debian/$$FULL_NAME/usr/lib/postgresql/$$PG_VERSION/lib/supautils.so; \
		printf 'postgresql:Depends=postgresql-%s\n' "$$PG_VERSION" >> debian/$$FULL_NAME.substvars; \
		printf 'postgresql:Breaks=\n' >> debian/$$FULL_NAME.substvars; \
	done

override_dh_installdocs:
	dh_installdocs --all README.*

%:
	dh $@
