#!/usr/bin/make -f

# Makefile only uses -Wno-maybe-uninitialized (needed on Ubuntu ppc64el) if CC=gcc
export CC = gcc

SRC_DIR := supautils
PKG_NAME := supautils
PG_VERSIONS := $(shell cat debian/pgversions)

include /usr/share/postgresql-common/pgxs_debian_control.mk

override_dh_auto_build:

override_dh_auto_test:

override_dh_auto_clean:

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_install:
	for PG_VERSION in $(PG_VERSIONS); do \
		DIR_NAME=$(SRC_DIR)-pg$$PG_VERSION; \
		FULL_NAME=postgresql-$$PG_VERSION-$(PKG_NAME); \
        rm -rf *.so; \
        PATH=/usr/lib/postgresql/$$PG_VERSION/bin:$$PATH /usr/bin/make clean; \
        PATH=/usr/lib/postgresql/$$PG_VERSION/bin:$$PATH /usr/bin/make; \
		dh_installdirs -p$$FULL_NAME; \
		mkdir -p $(CURDIR)/debian/$$FULL_NAME/usr/lib/postgresql/$$PG_VERSION/lib; \
		mkdir -p $(CURDIR)/debian/$$FULL_NAME/usr/share/postgresql/$$PG_VERSION/extension; \
		cp *.so $(CURDIR)/debian/$$FULL_NAME/usr/lib/postgresql/$$PG_VERSION/lib/; \
	done

override_dh_installdocs:
	dh_installdocs --all README.*

%:
	dh $@
