#!/usr/bin/make -f

override_dh_auto_build:

override_dh_auto_test:

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/libarrow-s3/usr/lib/x86_64-linux-gnu; \
	cp -d $(CURDIR)/*so* $(CURDIR)/debian/libarrow-s3/usr/lib/x86_64-linux-gnu/;

%:
	dh $@