#!/usr/bin/make -f

export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export PG_SUPPORTED_VERSIONS = installed
export CPPFLAGS := $(shell dpkg-buildflags --get CPPFLAGS)
export CFLAGS := $(shell dpkg-buildflags --get CFLAGS) $(CPPFLAGS)
export CXXFLAGS := $(shell dpkg-buildflags --get CXXFLAGS) $(CPPFLAGS)
export LDFLAGS := $(shell dpkg-buildflags --get LDFLAGS)
export DEB_HOST_MULTIARCH := $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

BUILD_DIR := $(CURDIR)/obj-build
PY3VERS := $(shell py3versions -v -d)
PY3 := $(shell which python$(PY3VERS))
DEFAULT_PG_MAJOR := $(shell pg_buildext supported-versions | tail -n 1)
NUMJOBS ?= 2
INCHI_CMAKE_FLAGS := -DRDK_BUILD_INCHI_SUPPORT=ON -DINCHI_INCLUDE_DIR=/usr/include -DINCHI_LIBRARY=/usr/lib/$(DEB_HOST_MULTIARCH)/libinchi.so -DINCHI_LIBRARIES=/usr/lib/$(DEB_HOST_MULTIARCH)/libinchi.so
CMAKE_FLAGS := \
	-DCMAKE_BUILD_TYPE=None \
	-DCMAKE_C_COMPILER_LAUNCHER=ccache \
	-DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
	-DCMAKE_INSTALL_PREFIX=/usr \
	-DCMAKE_SKIP_RPATH=ON \
	-DRDK_INSTALL_INTREE=OFF \
	-DRDK_INSTALL_STATIC_LIBS=OFF \
	-DRDK_BUILD_SWIG_WRAPPERS=OFF \
	-DRDK_BUILD_THREADSAFE_SSS=ON \
	-DRDK_BUILD_PYTHON_WRAPPERS=ON \
	-DRDK_INSTALL_PYTHON_TESTS=OFF \
	-DRDK_BUILD_CPP_TESTS=OFF \
	-DRDK_BUILD_TEST_GZIP=OFF \
	$(INCHI_CMAKE_FLAGS) \
	-DRDK_BUILD_PGSQL=ON \
	-DRDK_BUILD_MOLINTERCHANGE_SUPPORT=ON \
	-DRDK_PGSQL_STATIC=OFF \
	-DRDK_OPTIMIZE_POPCNT=OFF \
	-DRDK_BUILD_AVALON_SUPPORT=OFF \
	-DRDK_BUILD_COORDGEN_SUPPORT=OFF \
	-DRDK_BUILD_MAEPARSER_SUPPORT=OFF \
	-DRDK_BUILD_CAIRO_SUPPORT=ON \
	-DRDK_BUILD_CHEMDRAW_SUPPORT=OFF \
	-DRDK_BUILD_PUBCHEMSHAPE_SUPPORT=OFF \
	-DRDK_BUILD_XYZ2MOL_SUPPORT=OFF \
	-DRDK_INSTALL_COMIC_FONTS=OFF \
	-DBoost_USE_STATIC_LIBS=OFF \
	-DPython_EXECUTABLE=$(PY3) \
	-DPostgreSQL_CONFIG=/usr/lib/postgresql/$(DEFAULT_PG_MAJOR)/bin/pg_config \
	-DPostgreSQL_TYPE_INCLUDE_DIR=/usr/include/postgresql/$(DEFAULT_PG_MAJOR)/server

include /usr/share/postgresql-common/pgxs_debian_control.mk

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure --builddirectory=$(BUILD_DIR) -- $(CMAKE_FLAGS)

override_dh_auto_build:
	dh_auto_build --builddirectory=$(BUILD_DIR)
	set -e; for v in $$(pg_buildext supported-versions); do \
		cmake -S . -B $(BUILD_DIR) $(CMAKE_FLAGS) \
			-DPostgreSQL_CONFIG=/usr/lib/postgresql/$$v/bin/pg_config \
			-DPostgreSQL_INCLUDE_DIR=/usr/include/postgresql \
			-DPostgreSQL_TYPE_INCLUDE_DIR=/usr/include/postgresql/$$v/server; \
		cmake --build $(BUILD_DIR) --target rdkit --parallel $(NUMJOBS); \
		mkdir -p cartridges/$$v; \
		cp $(BUILD_DIR)/Code/PgSQL/rdkit/librdkit.so cartridges/$$v/; \
		cp $(BUILD_DIR)/Code/PgSQL/rdkit/rdkit--*.sql cartridges/$$v/; \
		cp $(BUILD_DIR)/Code/PgSQL/rdkit/update_sql/*.sql cartridges/$$v/; \
	done

override_dh_auto_test:
	:

override_dh_auto_install:
	dh_auto_install --builddirectory=$(BUILD_DIR)
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/python3
	if [ -d $(CURDIR)/debian/tmp/usr/lib/python$(PY3VERS)/site-packages ]; then \
		mv $(CURDIR)/debian/tmp/usr/lib/python$(PY3VERS)/site-packages $(CURDIR)/debian/tmp/usr/lib/python3/dist-packages; \
	fi
	rm -rf $(CURDIR)/debian/tmp/usr/lib/python$(PY3VERS)
	rm -rf $(CURDIR)/debian/tmp/usr/lib/python3/dist-packages/rdkit/docs
	set -e; for v in $$(pg_buildext supported-versions); do \
		mkdir -p $(CURDIR)/debian/postgresql-$$v-rdkit/usr/lib/postgresql/$$v/lib; \
		mkdir -p $(CURDIR)/debian/postgresql-$$v-rdkit/usr/share/postgresql/$$v/extension; \
		cp cartridges/$$v/librdkit.so $(CURDIR)/debian/postgresql-$$v-rdkit/usr/lib/postgresql/$$v/lib/rdkit.so; \
		cp Code/PgSQL/rdkit/rdkit.control $(CURDIR)/debian/postgresql-$$v-rdkit/usr/share/postgresql/$$v/extension/; \
		cp cartridges/$$v/rdkit--*.sql $(CURDIR)/debian/postgresql-$$v-rdkit/usr/share/postgresql/$$v/extension/; \
	done
	rm -rf $(CURDIR)/debian/tmp/usr/lib/postgresql
	rm -rf $(CURDIR)/debian/tmp/usr/share/postgresql

override_dh_python3:
	dh_python3 -ppython3-rdkit
	dh_numpy3 -ppython3-rdkit

override_dh_auto_clean:
	rm -rf $(BUILD_DIR) cartridges
