#!/usr/bin/make -f

# Makefile only uses -Wno-maybe-uninitialized (needed on Ubuntu ppc64el) if CC=gcc
export CC = gcc
export LLVM_BINPATH ?= $(shell p="$$(command -v llvm-config-20 || command -v llvm-config-19 || command -v llvm-config 2>/dev/null)"; test -n "$$p" && "$$p" --bindir)
export DEB_BUILD_MAINT_OPTIONS = optimize=-lto
export PG_CFLAGS += -fno-lto
export PG_CXXFLAGS += -fno-lto
export PG_LDFLAGS += -fno-lto

include /usr/share/postgresql-common/pgxs_debian_control.mk

override_dh_auto_build:

override_dh_auto_test:

override_dh_auto_clean:

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_install:
	+pg_buildext loop postgresql-%v-rdf-fdw
	rm -rf debian/postgresql-*-rdf-fdw/usr/share/doc/postgresql-doc-*/

override_dh_installdocs:
	dh_installdocs --all README.*

%:
	dh $@
